version: 1
formatters:
  json:
    class: pythonjsonlogger.json.JsonFormatter
    format: '[%(asctime)s][%(name)s][%(levelname)s] - %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    formatter: json
    stream: ext://sys.stdout
  file:
    class: logging.FileHandler
    formatter: json
    filename: ${hydra.runtime.output_dir}/${hydra.job.name}.log
root:
  level: DEBUG
  handlers:
  - console
  - file
disable_existing_loggers: true